/* Style per la pagina Richiedi Prenotazione */

body {
  font-family: "Neue Machina", sans-serif;
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* MODAL */

/* START MAIN PAGE */

/* Progress Bar Style ending */

/* Date Picker */

/* Checkbox ending */

/* Media Query */

/* ////////////////////////////////////////////////////// */
/* Styles for success modal */
#successModal .modal-content {
  border: 2px solid green;
}

#successModal .modal-content h2 {
  color: green;
}

/* Styles for error modal */
#errorModal .modal-content {
  border: 2px solid red;
}

#errorModal .modal-content h2 {
  color: red;
}

.error {
  border: 1px solid red;
}

input.error {
  border-color: #ff4d4d;
  transition: all 0.3s ease-in-out;
}

input.error:hover {
  border-color: #e60000;
}

input.error:focus {
  border-color: #ff0000;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}

p.error-message {
  color: red;
  font-size: 0.875rem;
  text-align: left;
  display: none;
}

.toast-error {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  z-index: 1000;
  animation: fade-in-out 3s ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////// */
/* START MAIN */
main {
  position: relative;
  top: 80px;
  margin-bottom: 120px;
}

.text-box {
  margin: 12px 24px 32px;
  font-size: 1rem;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}
.required {
  color: red;
}

/* END MAIN */
/* ////////////////////////////////////////////////////// */
/* START FORM */

.form-container {
  /* background-color: var(--background); */
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  font-family: sans-serif;
}

.form-title {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Neue Machina", sans-serif;
}
.form-section {
  display: none;
}

.form-section.active {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

label {
  display: block;
  font-size: 1rem;
  color: #555;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
}

textarea {
  resize: vertical;
  height: 100px;
}

input:not(.error):not(:focus) {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

input,
#tipologia,
#durata,
#info {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  margin-top: 0.75em;
}

#tipologia,
#durata {
  height: 44px;
}

option {
  width: 50%;
}

.btn-container {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  gap: 1em;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.btn-next {
  background-color: var(--primario);
  color: var(--secondary-text-color);
  transform: translateY(0);
  border: 2px solid var(--primario);
}

.btn-container:has(.btn-prev) {
  justify-content: flex-end;
}

.btn-container:has(.btn-prev) > .btn {
  max-width: 200px;
}

.btn-next:hover {
  background-color: transparent;
  color: var(--primario);
  border: 2px solid var(--primario);
}

.btn-prev {
  color: var(--primario);
  border: 2px solid var(--primario);
}

.btn-prev:hover {
  background-color: var(--primario);
  color: var(--secondary-text-color);
}

.btn-submit {
  background-color: var(--secondario-fucsia);
  color: var(--secondary-text-color);
}
.btn-submit:hover {
  background-color: transparent;
  color: var(--secondario-fucsia);
  border: 2px solid var(--secondario-fucsia);
}

.btn-submit[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

#btn-last {
  margin-top: -9px;
}

/* Progress Bar Style */

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
}

.icon-container {
  border: 2px solid var(--primario);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  position: relative;
  aspect-ratio: 1 / 1;
}

.icon-done {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-done.check-animation {
  opacity: 1;
  transform: scale(1);
  animation: pop-and-check 0.5s ease;
}

@keyframes pop-and-check {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.line-break {
  width: 100%;
  height: 4px;
  margin: 10px;
  background-color: #888;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.line-fill {
  height: 100%;
  background-color: var(--primario);
  border-radius: 2px;
  animation: fill 0.5s ease-in-out;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.icon,
.icon-done {
  width: 30px;
  height: 30px;
  color: white;
}

.icon {
  filter: invert(72%) sepia(24%) saturate(393%) hue-rotate(64deg)
    brightness(89%) contrast(91%);
}

.icon-done {
  filter: invert(72%) sepia(24%) saturate(393%) hue-rotate(64deg)
    brightness(89%) contrast(91%);
}

.icon-container.active {
  background-color: var(--primario);
  outline: 2px solid var(--primario);
  outline-offset: 3px;
}

.icon-container.active .icon {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(181deg)
    brightness(108%) contrast(101%);
}

.icon-container.done {
  background-color: var(--background);
}

.hidden {
  display: none;
}

.date-field.start.max {
  max-width: 50%;
}

/* Checkbox */

.checkbox-container {
  margin: 0;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: flex-end;
}
.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-container label,
label a {
  font-size: 0.7rem;
  margin: 0;
}

label a {
  text-decoration: underline;
  color: blue;
}

/* END FORM */
/* ////////////////////////////////////////////////////// */
/* START MODAL */
.close-button {
  color: #aaa;
  position: absolute; /* Change to absolute positioning */
  top: 10px; /* Position at the top */
  right: 20px; /* Position at the right */
  font-size: 28px;
  font-weight: bold;
}
.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#modal-loading.active {
  display: flex;
}

#modal-loading .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid var(--primario);
  border-radius: 50%;
  background-color: var(--background);
  margin: 5px auto;
  animation: spin 6s infinite linear;
}

.modal-content p {
  font-size: 1.6rem;
}

#modal-loading p {
  color: var(--background);
  font-size: 1.8rem;
  padding: 10px;
}

.modal {
  display: none; /* Nascondi la modale di default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
/* END MODAL */
/* ////////////////////////////////////////////////////// */
/* media query */
@media screen and (min-width: 768px) {
  main {
    padding: 0 4em;
  }
  .progress-bar {
    max-width: 60%;
    margin: 0 auto;
  }
  .date-container {
    display: flex;
    justify-content: space-between;
    row-gap: 1em;
  }
  .date-field {
    width: 48%;
  }
  .group {
    display: flex;
    justify-content: space-between;
  }
  .group div {
    width: 48%;
  }
}

@media screen and (min-width: 968px) {
  .progress-bar {
    max-width: 40%;
    margin: 0 auto;
  }
  .form-section {
    max-width: 60%;
    margin: 0 auto;
  }
  .btn-container {
    justify-content: flex-end;
  }
  .btn-next {
    max-width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    padding: 0 10em;
  }
  .text-box {
    font-size: 1.25rem;
  }

  .row {
    flex-direction: row;
    column-gap: 1em;
  }
  .row div {
    width: 50%;
  }
}
