/* Style per la pagina Richiedi Prenotazione */

body {
  font-family: "Neue Machina";
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}

.close-button {
  color: #aaa;
  position: absolute; /* Change to absolute positioning */
  top: 10px; /* Position at the top */
  right: 20px; /* Position at the right */
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for success modal */
#successModal .modal-content {
  border: 2px solid green;
}

#successModal .modal-content h2 {
  color: green;
}

/* Styles for error modal */
#errorModal .modal-content {
  border: 2px solid red;
}

#errorModal .modal-content h2 {
  color: red;
}

.text-box {
  margin: 12px 24px 32px;
  font-size: 16px;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.form-container {
  background-color: var(--secondario-verde);
  margin: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 0;
}

.form-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1rem;
  color: #555;
  margin: 8px 20%;
  font-weight: 500;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
}

textarea {
  resize: vertical;
  height: 100px;
}


.error {
  border: 2px dashed red;
}

.appointment-form {
  position: relative;
}

input.error {
  border-color: #ff4d4d;
  transition: all 0.3s ease-in-out;
}

input.error:hover {
  border-color: #e60000;
}

input.error:focus {
  border-color: #ff0000;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}

input:not(.error):not(:focus) {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

input,
#tipologia,
#durata,
#info {
  display: block;
  width: 60%;
  margin: 10px 20%;
  border-radius: 8px;
  padding: 10px;
}

#tipologia,
#durata {
  height: 44px;
}

.date-container {
  display: flex;
  justify-content: center;
  margin: 0 22px;
}

.date-label {
  margin: 0 0 10px;
}

.date-field {
  width: 30%;
  margin: 0 10px;
}

#dataInizio,
#dataFine {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding: 10px;
  margin: 0;
}

.date-field.start {
  margin-left: 0;
}

.date-field.end {
  margin-right: 0;
}

option {
  width: 50%;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 25px 20%;
  position: relative;
  z-index: 1;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 42px;
  margin: 25px;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-next {
  background-color: var(--primario);
  color: var(--secondary-text-color);
}

.btn-prev {
  background-color: var(--background);
  color: var(--primary-text-color);
}

.btn-submit {
  background-color: var(--secondario-fucsia);
  color: var(--secondary-text-color);
}

.btn-submit[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

#btn-last {
  margin-top: -9px;
}

/* Progress Bar Style */

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.icon-container {
  border: 2px solid var(--background);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  position: relative;
  aspect-ratio: 1 / 1;
}

.icon-done {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-done.check-animation {
    opacity: 1;
    transform: scale(1);
    animation: pop-and-check 0.5s ease;
}

@keyframes pop-and-check {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.line-break {
    width: 10%;
    height: 4px;
    margin: 10px;
    background-color: var(--background);
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.line-fill {
    height: 100%;
    background-color: #8ca486;
    border-radius: 2px;
    animation: fill 0.5s ease-in-out;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.icon,
.icon-done {
  width: 30px;
  height: 30px;
  color: white;
}

.icon {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(181deg)
    brightness(108%) contrast(101%);
}

.icon-container.active .icon {
  filter: invert(96%) sepia(9%) saturate(621%) hue-rotate(38deg) brightness(90%)
    contrast(88%);
}

.icon-done {
  filter: invert(72%) sepia(24%) saturate(393%) hue-rotate(64deg)
    brightness(89%) contrast(91%);
}

.icon-container.active {
  background-color: var(--background);
  outline: 2px solid var(--background);
  outline-offset: 3px;
}

.icon-container.done {
  background-color: var(--background);
}

/* Progress Bar Style ending */

/* Date Picker */

.hidden {
    display: none;
}

.date-field.start.max {
  width: 50%;
  margin: 0 auto;
}

/* Checkbox */

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
  color: #333;
}

.checkbox-container input[type="checkbox"] {
  align-items: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-container label, label a{
  font-size: 0.7rem;
  margin: 0;
}

label a {
  text-decoration: underline;
  color: blue;
}

.appointment-form p {
  font-size: 0.8rem;
  margin: 0 5%;
  text-align: center;
}

/* Checkbox ending */

/* Modal */

.modal {
  display: none; /* Nascondi la modale di default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
}

/* Stile per la modale di caricamento */
#modal-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#modal-loading.active {
  display: flex;
}

#modal-loading .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid var(--primario);
  border-radius: 50%;
  background-color: var(--background);
  margin: 5px auto;
  animation: spin 6s infinite linear;
}

.modal-content p {
  font-size: 1.6rem;
}

#modal-loading p {
  color: var(--background);
  font-size: 1.8rem;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg); 
  }
  100% {
    transform: rotate(1440deg); 
  }
}

/* Toast durante la validazione */

.toastify {
  position: absolute;
  margin-top: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.5s;
  color: white;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  10%, 90% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-20px);
  }
}


.form-section {
  display: none;
}

.form-section.active {
  display: block;
}
footer {
  margin-top: 5em;
}
/* Media Query */

@media screen and (max-width: 546px) {
  .date-container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .date-field.start, .date-field.end {
    width: 60%;
    margin: 10px 20%;
  }

  .date-field.start.max {
    width: 60%;
    margin: 10px 20%;
  }
}

@media screen and (max-width: 834px) {
  .date-field.start.max {
    width: 63%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1439px) and (min-width: 834px) {
  .text-box {
    text-align: center;
    font-size: 18px;
    margin: 1% 10%;
  }

  .form-container {
    margin: 0 10%;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date-container {
    margin: 0;
  }

  .date-field {
    width: 24%;
    margin: 0;
  }

  .date-field.start {
    margin-right: 10px;
  }

  .date-field.end {
    margin-left: 10px;
  }

  #dataInizio,
  #dataFine {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto 10px;
  }

  input,
  #tipologia,
  #durata,
  #info {
    width: 50%;
    height: 46px;
    margin: 0 auto 10px;
  }

  label {
    width: 50%; 
    margin: 10px auto; 
  }

  .container-check {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }

  .checkbox-container input {
    margin: 30px;
  }

  .checkbox-container label {
    width: 100%;
    padding: 10px;
  }

  .checkbox-container {
    align-items: center;
    justify-items: flex-start;
  }

  .toastify {
    margin-top: 31%;
  }

}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 2rem;
  }

  .text-box {
    text-align: center;
    font-size: 18px;
    margin: 1% 10%;
  }

  .form-container {
    margin: 0 20%;
  }

  .icon-container {
    background: var(--secondario-verde);
  }

  .progress-bar {
    padding: 30px;
  }

  .appointment-form {
    padding: 30px 30px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .form-title {
    font-size: 30px;
  }

  label {
    margin-left: 20%;
  }

  .date-label {
    margin-left: 0;
  }

  .date-field {
    width: 30%;
    margin: 10px;
  }

  .date-field.start {
    margin: 10px 10px 0 0;
  }

  .date-field.end {
    margin: 10px 0 0 10px;
  }

  #dataInizio,
  #dataFine {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 10px;
  }

  input,
  #tipologia,
  #durata,
  #info {
    width: 60%;
    height: 46px;
    margin: 0 auto;
  }

  .container-check {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }

  .checkbox-container input {
    margin: 30px;
  }

  .checkbox-container label {
    width: 100%;
    padding: 10px;
  }

  .checkbox-container {
    align-items: center;
    justify-items: flex-start;
  }

  .date-field.start.max {
    width: 63%;
    margin: 0 auto;
  }
  
  .toastify {
    margin-top: 22%;
  }

}
