@import "./preflight.css";

:root {
  --primario: #8eb486;
  --primary-text-color: #000;
  --secondary-text-color: var(--background);
  --secondario-verde: #c6d8b9;
  --secondario-fucsia: #e0017a;
  --background: #fdf7f4;
  --footer: #bda499;
}

body {
  background-color: var(--background);
  color: var(--primary-text-color);
}

/* NavBar style */


.nav-container {
  width: 100%;
  height: 80px;
  background-color: var(--background);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menù */



.menu-container.active {
  background-color: var(--secondario-fucsia);
  color: var(--background);
  width: 100%;
}

#icon-menu {
  filter: invert(11%) sepia(100%) saturate(4504%) hue-rotate(318deg) brightness(108%) contrast(105%);
}

#icon-menu,
#icon-close {
  height: 40px;
  width: 40px;
  margin-right: 30px;
}

.menu-btn:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.menu-container.active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.menu-container.active .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 80px;
  background-color: var(--secondario-fucsia);
  transition: all 0.5s;
}

.menu-container.active .menu-icon {
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-container img {
  width: 44px;
  height: 64px;
  margin-left: 37px;
}

.menu {
  display: none;
}

.menu-item {
  list-style: none;
  margin: 20px 52px;
  padding: 10px;
}

.menu .menu-item.active a {
  color: var(--secondario-fucsia);
}

.menu.not-display .menu-item.active a {
  color: var(--primary-text-color);
}

.menu-item a {
  text-decoration: none;
  color: var(--background);
  font-size: 30px;
}

.not-display {
  display: none;
}
  
/* media query */
  
  @media screen and (min-width: 835px){
      .menu-icon {
        display: none;
      }
  
      .menu-container {
        display: flex;
        width: 100%;
      }

      .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
      }
  
      .menu-item {
        display: inline;
        margin: 0 15px;
        padding: 10px 5px;
      }
  
      .menu-item a {
        display: inline;
        text-decoration: none;
        color: var(--primary-text-color);
        font-size: 20px;
      }

      .menu-item a:hover {
        color: var(--secondario-fucsia);
        cursor: pointer;
      }

      .menu-container.active {
        display: none;
      }
  }