/* Style per la pagina Home */
@import '/laboratori/laboratori.css';

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;
  color: white;
}

header .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  background-image: url("public/img/img-ottimizzate/home-desktop/cascina-caccia-desktop.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) brightness(0.6);
  z-index: 0;
}

.content {
  position: relative;
  top: 88px;
  display: flex;
  flex-direction: column;
}

header h1,
header h2,
header p,
header .header-buttons {
  z-index: 1;
}

header .header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

header h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

header p {
  margin-bottom: 5rem;
  font-size: bold;
  font-family: "Neue Machina", sans-serif;
  font-size: 16px;
}

header button {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  width: 144px;
  height: 42px;
  border-radius: 15px;
  background-color: var(--secondario-fucsia);
  margin-right: 1rem;
}

header .contact-us {
  background-color: var(--background);
  color: var(--secondario-fucsia);
  border: 3px solid var(--secondario-fucsia);
}

header .contact-us:active {
  background-color: var(--secondario-fucsia);
  color: white;
}

header .book:active {
  border: 3px solid var(--secondario-fucsia);
  background-color: white;
  color: var(--secondario-fucsia);
}

header .book:hover,
header .contact-us:hover {
  transform: scale(1.1);
}

header .book,
header .contact-us {
  transition: transform 0.2s ease;
}

main {
  padding: 1.5rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Neue Machina";
  font-size: 18px;
}

main span {
  font-weight: bold;
  color: var(--secondario-fucsia);
}

main > h2 {
  font-size: 23pt;
  font-weight: bold;
  margin: 2rem 2rem;
  margin-top: 0;
  align-self: flex-start;
}

#valori {
  margin-top: 2rem;
}

main > button {
  background-color: var(--secondario-fucsia);
  font-family: "Poppins", sans-serif;
  color: white;
  width: 245px;
  height: 44px;
  margin: 3rem;
  border-radius: 15px;
  transition: transform 0.2s ease;
}

main > button:active {
  border: 3px solid var(--secondario-fucsia);
  background-color: white;
  color: var(--secondario-fucsia);
}

main > button:hover {
  transform: scale(1.1);
}

main > p:nth-of-type(2) {
  margin-bottom: 2rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin: 2rem auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: fit-content;
}

.carousel-item {
  min-width: 100%;
  height: 30rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  visibility: hidden;
}

.next {
  display: none;
}

.valori {
  width: 70%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 1rem;
}

.icona {
  margin: 1rem auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--primario);
}

.stop {
  background-image: url("img/icon-stop.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.balance {
  background-image: url("img/icona-bilancia.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.new-generation {
  background-image: url("img/icona-new-generation.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.richiedi-informazioni {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  background-color: var(--secondario-verde);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 20px;
  position: relative;
}

.richiedi-informazioni > h2 {
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

.richiedi-informazioni p {
  text-align: center;
}

.richiedi-informazioni input {
  border: 1px solid var(--primario);
  padding: 12px;
  border-radius: 15px;
  height: 44px;
  width: 100%;
  margin: 5px 0;
}

.richiedi-informazioni input:focus {
  border: 3px solid var(--primario);
  outline: none;
}

.richiedi-informazioni textarea {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid var(--primario);
  margin-top: 5px;
}

.richiedi-informazioni textarea:focus {
  border: 3px solid var(--primario);
  outline: none;
}

.richiedi-informazioni button {
  background-color: var(--secondario-fucsia);
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.richiedi-informazioni button:hover {
  transform: scale(1.1);
}

.richiedi-informazioni .canc {
  background-color: var(--background);
  color: var(--secondario-fucsia);
  border: 3px solid var(--secondario-fucsia);
}

.richiedi-informazioni .canc:active {
  background-color: var(--secondario-fucsia);
  color: white;
}

.richiedi-informazioni .send:active {
  border: 3px solid var(--secondario-fucsia);
  background-color: white;
  color: var(--secondario-fucsia);
}

.buttons-richiedi-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.dichiarazione {
  display: flex;
}

#privacy {
  width: 7rem;
  margin-right: 2rem;
}

.privacy-link {
  font-weight: bold;
  color: var(--secondario-fucsia);
}


#cookie-banner {
  position: fixed;
  bottom: 0;
  background-color: var(--secondario-verde);
  z-index: 2;
  height: fit-content;
  font-family: 'Neue Machina', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cookie-banner > p {
  padding: 1rem;
}

.informativa {
  display: none;
}


.mostra-informativa {
  display: block;
  overflow-y: scroll;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--background);
  height: 10rem;
}

.show-less {
  display: none;
  margin: 1rem auto;
}

.mostra-show-less {
  display: block;
  color: var(--secondario-fucsia);
}

.cookie-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.decline-btn, .accept-btn {
  height: 3rem;
  margin-bottom: 1rem;
}

.show-cookie {
  font-weight: bold;
  color: var(--secondario-fucsia);
}

.accept-btn {
  background-color: var(--primario);
  color: white;
  border-radius: 15px;
  width: 70%;

}

.accept-btn:focus {
  background-color: var(--secondario-fucsia);
}

.decline-btn {
  background-color: var(--background);
  border-radius: 15px;
  width: 70%;
}

.decline-btn:focus {
  border: 3px solid var(--secondario-fucsia);
}

.informativa {
  padding: 2rem;
  height: 20rem;
}

.informativa p {
  margin-bottom: 1rem;
}
.mostra-informativa p {
  font-size: 16px;
}

.mostra-informativa h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondario-fucsia);
}

.informativa h4 {
  color: var(--secondario-fucsia);

}

.mostra-informativa h6 {
  font-size: 16px;
  color: var(--secondario-fucsia);
}


/* -------------------PRIVACY PAGE------------------------- */
.main-privacy {
  height: fit-content;
  padding: 3rem;
  box-sizing: content-box;
}

.main-privacy h2 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#privacy-title {
  margin: 0;
}

.main-privacy h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
  width: 100%;
}

.main-privacy ul {
  display: flex;
  flex-direction: column;
}

.main-privacy ul li {
  list-style-type: disc;
  margin-left: 2rem;
}

.main-privacy li h4 {
  font-weight: bold;
  color: var(--secondario-fucsia);
  font-family: 'Poppins', sans-serif;
}

.main-privacy ol > li {
  margin-bottom: 1rem;
}




@media screen and (min-width: 393px) {


  .main-privacy {
    padding: 3rem 5rem 5rem 5rem;
  }
  header {
    padding: 10%;
  }

  header h1 {
    font-size: 2rem;
  }

  header .header-buttons {
    display: block;
  }

  .btn-carousel {
    width: 1.8rem;
  }

  .richiedi-informazioni input {
    width: 100%;
    margin-bottom: 7px;
  }

  .richiedi-informazioni textarea {
    width: 100%;
  }
}

@media screen and (min-width: 834px) {

  header h1 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  #privacy-title {
    margin-top: 2rem;
  }

  main {
    padding: 5rem 7rem 7rem 7rem;
  }

  main h2 {
    font-size: 24px;
  }

  main .valori .icona {
    width: 3.2rem;
    height: 3.2rem;
    transition: transform 0.5s ease;
  }

  main .valori .icona:hover {
    transform: scale(1.5);
  }

  .main-privacy {
    padding: 4rem 10rem;
  }

  .valori {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .valore1,
  .valore2,
  .valore3 {
    height: 12rem;
    width: 160px;
  }
  .btn-carousel {
    width: 2.5rem;
  }

  .btn-carousel.prev {
    left: -5%;
  }

  .btn-carousel.next {
    right: -5%;
  }

  .richiedi-informazioni {
    width: 85%;
    padding: 3rem;
  }

  .richiedi-informazioni input {
    width: 49%;
  }

  .richiedi-informazioni textarea {
    width: 99%;
  }

  #privacy {
    width: 4rem;
    margin-right: 2rem;
  }

  #cookie-banner {
    position: fixed;
    bottom: 3rem;
    z-index: 2;
    background-color: var(--secondario-verde);
    border: 6px solid var(--primario);
    width: 50%;
    height: fit-content;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1rem;
    font-family: 'Neue Machina', serif;
  }

  #cookie-banner > p {
    margin-bottom: 1rem;
  }

  #cookie-banner .cookie-buttons {
    /* border: 1px solid black; */
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .cookie-buttons .accept-btn, .cookie-buttons .decline-btn {
    width: 40%;
    height: 3rem;
    border: 1px solid var(--primario);
    border-radius: 15px;
    transition: transform 0.2s ease;
  }

  .cookie-buttons .accept-btn:hover, .cookie-buttons .decline-btn:hover {
    transform: scale(1.2);
  }

  .mostra-informativa {
    display: block;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 1rem;
    background-color: var(--background);
    height: 10rem;
  }

  .show-less {
    display: none;
    margin-top: 1rem;
  }

  .mostra-show-less {
    display: block;
  }
}

@media screen and (min-width: 1280px) {



  header h1 {
    font-size: 50px;
  }

  main h2 {
    font-size: 32px;
  }
}
