/* Style per la pagina Home */
@import "/laboratori/laboratori.css";

h1,
h2 {
  font-family: "Poppins", sans-serif;
}
body.body-home {
  font-family: "Neue Machina", sans-serif !important;
}

header.header-home {
  position: relative;
  width: 100%;

  height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-inline: 2em;
  margin-bottom: 10rem;
  top: 80px;
  overflow: hidden;
}

header.header-home .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/img/img-ottimizzate/home-desktop/cascina-caccia-desktop.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px) brightness(0.4);
  transform: scale(1.2);
}

header.header-home .content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

header .header-buttons {
  display: flex;
  flex-direction: column;
}

header.header-home h1 {
  font-size: 2rem;
  font-weight: bold;
}

header.header-home h2 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

header.header-home p {
  margin-bottom: 5rem;
  /* font-weight: bold; */
  font-family: "Neue Machina", sans-serif;
  font-size: 1rem;
}

header.header-home button {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  border-radius: 1em;
  background-color: var(--secondario-fucsia);
  margin-right: 1rem;
  padding: 1em 2.5em;
}

header.header-home .contact-us {
  color: white;
  border: 3px solid white;
  background-color: transparent;
}

header.header-home .contact-us:hover {
  background-color: var(--secondario-fucsia);
}

header.header-home .book:hover {
  background-color: white;
  color: var(--secondario-fucsia);
}

header.header-home .book:active {
  border: 3px solid var(--secondario-fucsia);
  background-color: white;
  color: var(--secondario-fucsia);
}

header.header-home .book:hover,
header.header-home .contact-us:hover {
  transform: scale(1.1);
}

header.header-home .book,
header.header-home .contact-us {
  transition: transform 0.2s ease;
}

main.main-home {
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Neue Machina", sans-serif;
  font-size: 1rem;
}

main.main-home span {
  font-weight: bold;
  color: var(--secondario-fucsia);
}

main.main-home > h2 {
  font-size: 1.8rem;
  font-weight: bold;
  /* margin: 2rem 2rem; */
  margin-top: 0;
  align-self: flex-start;
}

#valori ~ p {
  margin-bottom: 2rem;
}

.mission {
  text-align: left;
  margin-right: auto;
  margin-bottom: 2rem;
}

main.main-home > button {
  background-color: var(--secondario-fucsia);
  font-family: "Poppins", sans-serif;
  color: white;
  width: 245px;
  height: 44px;
  margin: 1em 0 3em 0;
  border-radius: 15px;
  transition: transform 0.2s ease;
}

main.main-home > button:active {
  border: 3px solid var(--secondario-fucsia);
  background-color: white;
  color: var(--secondario-fucsia);
}

main.main-home > button:hover {
  transform: scale(1.1);
}

div.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
  aspect-ratio: 16/9;
  max-height: 50vh;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex-shrink: 0;
  aspect-ratio: 16/9;
  width: 100%;
}

.carousel-item img {
  object-fit: contain;
  /* -o-object-fit: contain; */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  visibility: hidden;
}

.next {
  display: none;
}

.valori {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-bottom: 3em;
  margin-right: auto;
}

.valore {
  display: flex;
  gap: 1em;
  cursor: pointer;
  padding: 0.5em 0;
  transition: all 0.2s ease;
  border-radius: 0.5em;
}
.valore:hover {
  background-color: #f5f5f5;
}

.line {
  width: 4px;
  border-radius: 2em;
  background-color: var(--secondario-fucsia);
}
.valore-body {
  width: 100%;
}

.valore-header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.valore-body {
  display: flex;
  flex-direction: column;
}

.valore .icona {
  width: 3em;
  height: 3rem;
  background-color: var(--primario);
  border-radius: 100%;
  background-size: 60%;
}

.valore-header p {
  font-size: 1em;
  font-weight: bold;
}

.valore-description {
  font-size: 0.85;
  color: #797979;
}

.stop {
  background-image: url("/img/icon-stop.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.balance {
  background-image: url("/img/icona-bilancia.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.new-generation {
  background-image: url("/img/icona-new-generation.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.richiedi-informazioni {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  background-color: var(--secondario-verde);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 20px;
  position: relative;
  font-family: sans-serif;
}

.richiedi-informazioni > h2 {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.15;
  margin-right: auto;
}

.richiedi-informazioni p {
  margin-right: auto;
  text-align: left;
  font-size: 1rem;
  font-family: sans-serif;
}

.richiedi-informazioni
  input:not(.richiedi-informazioni input[type="checkbox"]) {
  border: 1px solid var(--primario);
  padding: 1em;
  border-radius: 0.5em;
  height: 44px;
  width: 100%;
  margin: 5px 0;
}

.richiedi-informazioni input:focus {
  border: 3px solid var(--primario);
  outline: none;
}

.richiedi-informazioni textarea {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid var(--primario);
  margin-top: 5px;
}

.richiedi-informazioni textarea:focus {
  border: 3px solid var(--primario);
  outline: none;
}

.richiedi-informazioni button {
  background-color: var(--secondario-fucsia);
  font-family: sans-serif;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.richiedi-informazioni button:hover {
  transform: scale(1.1);
}

.richiedi-informazioni .canc {
  background-color: var(--background);
  color: var(--secondario-fucsia);
  border: 3px solid var(--secondario-fucsia);
}

.richiedi-informazioni .canc:active {
  background-color: var(--secondario-fucsia);
  color: white;
}

.richiedi-informazioni .send:active {
  border: 3px solid var(--secondario-fucsia);
  background-color: white;
  color: var(--secondario-fucsia);
}

.buttons-richiedi-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.required {
  color: red;
}

.dichiarazione {
  display: flex;
  column-gap: 2em;
}

#privacy {
  min-width: 2em;
  min-height: 2em;
}

#privacy:checked {
  accent-color: var(--secondario-fucsia);
}

.privacy-link {
  font-weight: bold;
  color: var(--secondario-fucsia);
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  background-color: var(--secondario-verde);
  z-index: 2;
  height: fit-content;
  font-family: "Neue Machina", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cookie-banner > p {
  padding: 1rem;
}

.informativa {
  display: none;
}

.mostra-informativa {
  display: block;
  overflow-y: scroll;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--background);
  height: 10rem;
}

.show-less {
  display: none;
  margin: 1rem auto;
}

.mostra-show-less {
  display: block;
  color: var(--secondario-fucsia);
}

.cookie-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.decline-btn,
.accept-btn {
  height: 3rem;
  margin-bottom: 1rem;
}

.show-cookie {
  font-weight: bold;
  color: var(--secondario-fucsia);
}

.accept-btn {
  background-color: var(--primario);
  color: white;
  border-radius: 15px;
  width: 70%;
}

.accept-btn:focus {
  background-color: var(--secondario-fucsia);
}

.decline-btn {
  background-color: var(--background);
  border-radius: 15px;
  width: 70%;
}

.decline-btn:focus {
  border: 3px solid var(--secondario-fucsia);
}

.informativa {
  padding: 2rem;
  height: 20rem;
}

.informativa p {
  margin-bottom: 1rem;
}
.mostra-informativa p {
  font-size: 1rem;
}

.mostra-informativa h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--secondario-fucsia);
}

.informativa h4 {
  color: var(--secondario-fucsia);
}

.mostra-informativa h6 {
  font-size: 1rem;
  color: var(--secondario-fucsia);
}

/* -------------------PRIVACY PAGE------------------------- */
.main-privacy {
  height: fit-content;
  padding: 3rem;
  box-sizing: content-box;
}

.main-privacy h2 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#privacy-title {
  margin: 0;
}

.main-privacy h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
  width: 100%;
}

.main-privacy ul {
  display: flex;
  flex-direction: column;
}

.main-privacy ul li {
  list-style-type: disc;
  margin-left: 2rem;
}

.main-privacy li h4 {
  font-weight: bold;
  color: var(--secondario-fucsia);
  font-family: "Poppins", sans-serif;
}

.main-privacy ol > li {
  margin-bottom: 1rem;
}

/* @media screen and (min-width: 393px) {
  .carousel-container {
    width: 60%;
  }

  .main-privacy {
    padding: 3rem 5rem 5rem 5rem;
  }
  header {
    padding: 10%;
  }

  header h1 {
    font-size: 2rem;
  }

  header .header-buttons {
    display: block;
  }

  .btn-carousel {
    width: 1.8rem;
  }

  .richiedi-informazioni input {
    width: 100%;
    margin-bottom: 7px;
  }

  .richiedi-informazioni textarea {
    width: 100%;
  }
} */

.row {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

@media screen and (min-width: 534px) {
  header .header-buttons {
    flex-direction: row;
  }
}

@media screen and (min-width: 834px) {
  .carousel-container {
    width: 70%;
    height: 30rem;
  }

  header h1 {
    font-size: 3.5rem;
  }

  /* p {
    font-size: 2rem;
  } */

  #privacy-title {
    margin-top: 2rem;
  }

  main.main-home {
    padding: 0 4em;
  }

  main.main-home h2 {
    font-size: 2rem;
  }

  main.main-home .valori .icona {
    width: 3.2rem;
    height: 3.2rem;
    transition: transform 0.5s ease;
  }

  main.main-home .valori .icona:hover {
    transform: scale(1.5);
  }

  .main-privacy {
    padding: 4rem 10rem;
  }

  .btn-carousel {
    width: 2.5rem;
  }

  .btn-carousel.prev {
    left: -5%;
  }

  .btn-carousel.next {
    right: -5%;
  }

  .richiedi-informazioni {
    width: 85%;
    padding: 3rem;
    margin-top: 3rem;
  }

  .row {
    flex-direction: row;
    column-gap: 1em;
  }

  .row > div {
    width: 100%;
  }

  #privacy {
    width: 3rem;
    margin-right: 2rem;
  }

  #cookie-banner {
    position: fixed;
    bottom: 3rem;
    z-index: 2;
    background-color: var(--secondario-verde);
    border: 6px solid var(--primario);
    width: 50%;
    height: fit-content;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1rem;
    font-family: "Neue Machina", sans-serif;
  }

  #cookie-banner > p {
    margin-bottom: 1rem;
  }

  #cookie-banner .cookie-buttons {
    /* border: 1px solid black; */
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .cookie-buttons .accept-btn,
  .cookie-buttons .decline-btn {
    width: 40%;
    height: 3rem;
    border: 1px solid var(--primario);
    border-radius: 15px;
    transition: transform 0.2s ease;
  }

  .cookie-buttons .accept-btn:hover,
  .cookie-buttons .decline-btn:hover {
    transform: scale(1.2);
  }

  .mostra-informativa {
    display: block;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 1rem;
    background-color: var(--background);
    height: 10rem;
  }

  .show-less {
    display: none;
    margin-top: 1rem;
  }

  .mostra-show-less {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  header.header-home h1 {
    font-size: 3.8rem;
    font-family: "Poppins", sans-serif;
  }

  header.header-home h2 {
    font-size: 2.5em;
  }
  header.header-home p {
    font-size: 1.5rem;
  }

  .main-home {
    padding: 0 12rem !important  ;
  }

  div.carousel-container {
    margin-bottom: 5em;
    height: 40rem;
    width: 80%;
  }

  #valori ~ p {
    margin-bottom: 5rem;
  }

  main.main-home h2 {
    font-size: 2.8rem;
  }

  .richiedi-informazioni {
    margin-block: 3rem;
  }

  .richiedi-informazioni h2 {
    text-align: center;
    margin: 0 auto;
  }

  .richiedi-informazioni p {
    text-align: center;
  }

  #privacy {
    width: 2rem;
  }

  .valori {
    width: 100%;
    margin-bottom: 3rem;
    flex-direction: row;
    column-gap: 2em;
    justify-content: space-evenly;
  }

  .valore {
    flex-basis: calc(100% / 3);
  }

  .valore-header {
    flex-direction: row;
    align-items: center;
    /* column-gap: 1em; */
  }
  .valore-header P {
    font-size: 1.15em !important;
  }

  .valore-header .icona {
    flex-shrink: 0;
  }

  .valore-body {
    row-gap: 1em !important;
  }

  p.valore-description {
    font-size: 1.25em !important;
  }

  .richiedi-informazioni p {
    font-size: 1.25em !important;
    text-align: center;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
