.info-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.info-card {
  background-color: #f1f3f4;
  padding: 1rem;
  border-radius: 0.5rem;
}

.info-card:hover {
  background-color: #e4e6e7;
}

.new {
  background-color: #5932ea;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.35rem;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-header h3 {
  font-size: 1.15rem;
  font-weight: 600;
}
