.info-request-details {
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* max-width: 600px; */
  margin: 0 auto;
}

.info-request-details-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.info-request-details-buttons > button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.info-request-details-buttons > button:hover {
  transform: scale(1.1);
}

.info-request-details-buttons div {
  display: flex;
  gap: 1em;
}

.reply-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.reply-button {
  background-color: #5932ea;
  color: white;
  width: 50% !important;
}

.reply-button:hover {
  background-color: #4a27cc;
  transform: translateY(-2px);
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #a71d2a;
  transform: translateY(-2px);
}

.reply-button.text-button {
  margin-top: 2em;
  width: 100%;
  justify-content: center;
}

.info-request-details h2 {
  font-size: 1.35rem;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #5932ea;
  padding-bottom: 0.5em;
}

.request-info-email,
.request-info-date {
  color: #666;
  margin-bottom: 1em;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.request-info-content {
  margin-top: 1em;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #333;
  border: 1px solid #e6e6e6;
  padding: 1em;
  min-height: 50%;
  border-radius: 0.5em;
}

@media screen and (min-width: 768px) {
  .info-request-details h2 {
    font-size: 1.5rem;
  }
  .request-info-email,
  .request-info-date {
    font-size: 1.1rem;
  }
}
