/* Style per la pagina Laboratori */

h1,
h2,
h4 {
  font-family: "Poppins", sans-serif;
}

body {
  height: fit-content;
}

p,
.header-text h6 {
  font-family: "Neue Machina";
}

main.main-laboratori {
  top: 88px;
  position: relative;
}

main.main-laboratori section > p {
  margin: 1rem 3rem;
}
main.main-laboratori span {
  font-weight: bold;
  color: var(--secondario-fucsia);
}

.carousel-item-lab h4 {
  margin-bottom: 1rem;
}

main.main-laboratori > p {
  margin: 1rem 2rem;
}

main.main-laboratori section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main.main-laboratori h2 {
  font-size: 1.8rem;
  font-weight: bold;
  /* margin-left: 0 2rem; */
}

.carousel-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  /* margin: 0 auto; */
  /* margin: 2rem auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.carousel-wrapper {
  display: flex;
  height: fit-content;
  width: 100%;
  transition: transform 0.5s ease;
}
.carousel-item-lab {
  min-width: 15rem;
  height: 38rem;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.carousel-item-lab picture {
  width: 100%;
}
.carousel-and-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.carousel-item-lab h4 {
  font-weight: bold;
  font-size: 1.3rem;
}

.main-laboratori section {
  height: fit-content;
}

.carousel-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  z-index: 3;
}

.btn {
  margin: 0 1rem;
  cursor: pointer;
}

#prevBtn {
  left: -100px;
}

#nextBtn {
  right: -100px;

  z-index: 100;
}

#prevBtn,
#nextBtn {
  transition: transform 0.2s ease;
}

#prevBtn:hover {
  transform: translateX(-10px);
}

#nextBtn:hover {
  transform: translateX(10px);
}

.carousel-item-lab picture img {
  width: 100%;
  height: 12rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: center;
}

article header .testo-voci p {
  margin-top: 1rem;
}
.text-carousel {
  padding: 1.5rem;
  height: 27rem;
  border-bottom: 3px solid var(--primario);
  border-left: 3px solid var(--primario);
  border-right: 3px solid var(--primario);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: background-color 0.5s ease;
}

.body-laboratori header {
  background-color: var(--secondario-verde);
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.header-text h4 {
  font-weight: bold;
}

.body-laboratori header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 2rem;
}

.testo-voci {
  background-color: var(--primario);
  padding: 1rem;
  font-size: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: fit-content;
}

.testo-voci p {
  margin-bottom: 0;
}

.voci-laboratori {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

#voci {
  margin-left: 2rem;
}

section.voci-laboratori {
  margin-bottom: 9rem;
}

footer {
  margin-top: 2rem;
}

@media screen and (min-width: 834px) {
  .carousel-item-lab picture img {
    width: 100%;
    height: 12rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }

  #voci {
    margin-left: 7rem;
  }
  main.main-laboratori h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  main.main-laboratori section {
    padding: 5rem;
  }

  main.main-laboratori section > p {
    margin: 2rem 4rem;
  }

  .carousel-item-lab {
    width: 15rem;
  }

  .carousel-item-lab picture {
    width: 100%;
  }

  main.main-laboratori .voci-laboratori {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 7rem;
  }

  header {
    justify-content: center;
  }

  article {
    width: 47%;
  }
  p:not(.text-carousel p) {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  main.main-laboratori h2 {
    font-size: 2.5rem;
    margin-right: auto;
    margin-left: 4rem;
  }

  main.main-laboratori section {
    padding: 7rem 10rem;
  }

  .carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-item-lab {
    width: 5rem;
  }

  .carousel-item-lab picture {
    width: 100%;
  }

  #voci {
    margin-left: 14rem;
  }
  .voci-laboratori {
    padding: 7rem 14rem;
  }

  .voci-laboratori article {
    width: 30rem;
  }
}
