/* Style per la pagina Login */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5932ea;
  transform: skewX(-45deg) translateX(50%);
  z-index: -1;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(300px, 50%, 500px);
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.login-form input::placeholder {
  color: black;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #5932ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #4a27cc;
}
